-- ============================================================
-- Migration 002: Seed Data
-- OdooPulse ΓÇö Test data matching frontend mock data
-- ============================================================
-- Run AFTER 001_initial_schema.sql:
--   psql -U postgres -d odoopulse -f server/db/migrations/002_seed_data.sql
-- ============================================================

-- ============================================================
-- 1. USERS
-- ============================================================
-- Password for all seeded users: "Password@123" (bcrypt hash)


-- ============================================================
-- 2. ADDRESSES
-- ============================================================

INSERT INTO addresses (user_id, label, line1, line2, city, state, pin_code, is_default)
VALUES
  (7, 'Office',    'Tower B, Floor 12, Cyber Hub', 'Sector 24, Gurugram',           'Gurugram', 'Haryana', '122002', TRUE),
  (7, 'Warehouse', 'Plot 45, Industrial Area Phase-II', 'Manesar',                  'Gurugram', 'Haryana', '122051', FALSE);

-- ============================================================
-- 3. CATEGORIES
-- ============================================================

INSERT INTO categories (name) VALUES
  ('ERP'), ('CRM'), ('HR'), ('Accounting'), ('Inventory'), ('Marketing');

-- ============================================================
-- 4. PRODUCTS
-- ============================================================


SELECT setval('products_id_seq', (SELECT MAX(id) FROM products));

-- ============================================================
-- 5. PRODUCT VARIANTS
-- ============================================================

INSERT INTO product_variants (id, product_id, name, extra_price) VALUES
  (1,  1, 'Standard',         0.00),
  (2,  1, 'Professional',   500.00),
  (3,  1, 'Enterprise',    1200.00),
  (4,  2, 'Starter',          0.00),
  (5,  2, 'Business',       400.00),
  (6,  3, 'Basic',            0.00),
  (7,  3, 'Premium',        300.00),
  (8,  4, 'Standard',         0.00),
  (9,  4, 'Advanced',       600.00),
  (10, 5, 'Single Warehouse', 0.00),
  (11, 5, 'Multi-Warehouse', 500.00),
  (12, 6, 'Essentials',       0.00),
  (13, 6, 'Growth',         350.00);

SELECT setval('product_variants_id_seq', (SELECT MAX(id) FROM product_variants));

-- ============================================================
-- 6. SUBSCRIPTIONS
-- ============================================================


UPDATE subscriptions SET closed_at = '2024-12-15 00:00:00+05:30' WHERE id = 6;
UPDATE subscriptions SET closed_at = '2024-11-01 00:00:00+05:30' WHERE id = 8;

SELECT setval('subscriptions_id_seq', (SELECT MAX(id) FROM subscriptions));

-- ============================================================
-- 7. INVOICES
-- ============================================================


SELECT setval('invoices_id_seq', (SELECT MAX(id) FROM invoices));

-- ============================================================
-- 8. PAYMENTS
-- ============================================================


SELECT setval('payments_id_seq', (SELECT MAX(id) FROM payments));

-- ============================================================
-- 9. PAYMENT RETRIES
-- ============================================================

INSERT INTO payment_retries (invoice_id, payment_id, attempt_number, status, failure_reason, attempted_at)
VALUES
  (3, NULL, 1, 'FAILED', 'Gateway timeout',       '2025-02-03 10:00:00+05:30'),
  (3, NULL, 2, 'FAILED', 'Insufficient funds',    '2025-02-06 10:00:00+05:30'),
  (3, NULL, 3, 'FAILED', 'Bank server down',      '2025-02-10 10:00:00+05:30'),
  (5, NULL, 1, 'FAILED', 'Card expired',          '2025-02-04 14:00:00+05:30'),
  (5, NULL, 2, 'FAILED', 'Card declined',         '2025-02-08 14:30:00+05:30');

-- ============================================================
-- 10. ORDERS
-- ============================================================

INSERT INTO orders (id, order_number, user_id, total_amount, tax_amount, discount_amount, status)
VALUES
  (1, 'ORD-2025-001', 7, 14400.00, 2592.00, 1000.00, 'PAID'),
  (2, 'ORD-2025-002', 7,  9600.00, 1728.00,    0.00, 'PAID'),
  (3, 'ORD-2025-003', 7,  7200.00, 1296.00,  500.00, 'PROCESSING'),
  (4, 'ORD-2025-004', 7,  5400.00,  972.00,    0.00, 'FAILED'),
  (5, 'ORD-2025-005', 7,  6000.00, 1080.00,  200.00, 'PENDING');

SELECT setval('orders_id_seq', (SELECT MAX(id) FROM orders));

-- ============================================================
-- 11. ORDER ITEMS
-- ============================================================

INSERT INTO order_items (order_id, product_id, variant_id, quantity, unit_price, billing_period)
VALUES
  (1, 1, 2,  1, 1700.00, 'MONTHLY'),
  (2, 2, 5,  1, 1200.00, 'MONTHLY'),
  (3, 3, 7,  1,  900.00, 'MONTHLY'),
  (4, 4, 8,  1,  900.00, 'MONTHLY'),
  (5, 6, 13, 2,  850.00, 'MONTHLY');

-- ============================================================
-- 12. CART ITEMS
-- ============================================================

INSERT INTO cart_items (user_id, product_id, variant_id, quantity)
VALUES
  (7, 1, 2,  1),
  (7, 3, 7,  1),
  (7, 6, 12, 2);

-- ============================================================
-- 13. QUOTATIONS
-- ============================================================

INSERT INTO quotations (id, quotation_number, user_id, total_amount, valid_until, status)
VALUES
  (1, 'QOT-001', 15, 34800.00, '2025-03-15', 'SENT'),
  (2, 'QOT-002', 16, 10800.00, '2025-03-01', 'ACCEPTED'),
  (3, 'QOT-003', 14, 18600.00, '2025-02-28', 'EXPIRED'),
  (4, 'QOT-004', 17, 27600.00, '2025-04-01', 'DRAFT'),
  (5, 'QOT-005', 18, 20400.00, '2025-03-20', 'SENT'),
  (6, 'QOT-006', 13, 10800.00, '2025-03-10', 'REJECTED');

SELECT setval('quotations_id_seq', (SELECT MAX(id) FROM quotations));

-- ============================================================
-- 14. QUOTATION ITEMS
-- ============================================================

INSERT INTO quotation_items (quotation_id, product_id, variant_id, quantity, unit_price)
VALUES
  (1, 1, 3, 1, 2400.00),
  (1, 2, 5, 1, 1200.00),
  (2, 3, 7, 1,  900.00),
  (3, 2, 4, 1,  800.00),
  (3, 6, 13, 1, 850.00),
  (4, 5, 11, 1, 1200.00),
  (4, 4, 9,  1, 1500.00),
  (5, 1, 2, 1, 1700.00),
  (6, 4, 8, 1, 900.00);

-- ============================================================
-- 15. DISCOUNTS
-- ============================================================


-- ============================================================
-- 16. TAX RULES
-- ============================================================


-- ============================================================
-- Migration 002 COMPLETE Γ£à
-- ============================================================
