-- ============================================================
-- OdooPulse ΓÇö Seed Data
-- Matches frontend mock data (src/data/mockData.ts)
-- Owner: Sharan (feature/db-schema)
-- ============================================================
-- Run AFTER schema.sql:
--   psql -U postgres -d odoopulse -f server/db/seed.sql
-- ============================================================

-- ============================================================
-- 1. USERS
-- ============================================================
-- Password for all seeded users: "Password@123" (bcrypt hash)
-- $2b$10$XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
-- Using a pre-computed bcrypt hash of "Password@123"


-- ============================================================
-- 2. ADDRESSES (for userProfile ΓÇö Rajesh Kumar = user_id 7)
-- ============================================================

INSERT INTO addresses (user_id, label, line1, line2, city, state, pin_code, is_default)
VALUES
  (7, 'Office',    'Tower B, Floor 12, Cyber Hub', 'Sector 24, Gurugram',           'Gurugram', 'Haryana', '122002', TRUE),
  (7, 'Warehouse', 'Plot 45, Industrial Area Phase-II', 'Manesar',                  'Gurugram', 'Haryana', '122051', FALSE);

-- ============================================================
-- 3. CATEGORIES
-- ============================================================

INSERT INTO categories (name) VALUES
  ('ERP'),
  ('CRM'),
  ('HR'),
  ('Accounting'),
  ('Inventory'),
  ('Marketing');

-- ============================================================
-- 4. PRODUCTS (matches mock products array)
-- ============================================================


-- Reset the sequence to avoid conflict with future inserts
SELECT setval('products_id_seq', (SELECT MAX(id) FROM products));

-- ============================================================
-- 5. PRODUCT VARIANTS (matches mock variants)
-- ============================================================


SELECT setval('product_variants_id_seq', (SELECT MAX(id) FROM product_variants));

-- ============================================================
-- 6. SUBSCRIPTIONS (matches mock subscriptions array)
-- ============================================================
-- User mapping:
--   Acme Corp       = user_id 7  (Rajesh Kumar)
--   TechStart Inc   = user_id 8  (Amit Patel)
--   GlobalTrade Ltd = user_id 9  (Sarah Khan)
--   FinanceHub      = user_id 10 (Deepak Joshi)
--   RetailMax       = user_id 11 (Meera Reddy)
--   MediaFlow       = user_id 12 (Kiran Rao)
--   BuildRight Co   = user_id 13 (Ravi Nair)
--   DataDriven LLC  = user_id 14 (Pooja Verma)

   -- SUB-008: DataDriven LLC, CRM Pro Starter

-- Mark closed subscription timestamps
UPDATE subscriptions SET closed_at = '2024-12-15 00:00:00+05:30' WHERE id = 6;
UPDATE subscriptions SET closed_at = '2024-11-01 00:00:00+05:30' WHERE id = 8;

SELECT setval('subscriptions_id_seq', (SELECT MAX(id) FROM subscriptions));

-- ============================================================
-- 7. INVOICES (matches mock invoices array)
-- ============================================================


SELECT setval('invoices_id_seq', (SELECT MAX(id) FROM invoices));

-- ============================================================
-- 8. PAYMENTS (matches mock payments array)
-- ============================================================


SELECT setval('payments_id_seq', (SELECT MAX(id) FROM payments));

-- ============================================================
-- 9. PAYMENT RETRIES (audit log for Siva's recovery engine)
-- ============================================================
-- GlobalTrade Ltd (invoice 3) ΓÇö 3 retries, all FAILED ΓåÆ subscription CLOSED-worthy
-- But per mock, subscription is AT_RISK (let's keep 3 retries as FAILED to match)


-- ============================================================
-- 10. ORDERS (matches mock orders array)
-- ============================================================
-- All orders belong to Rajesh Kumar (user_id 7) as the portal user

INSERT INTO orders (id, order_number, user_id, total_amount, tax_amount, discount_amount, status)
VALUES
  (1, 'ORD-2025-001', 7, 14400.00, 2592.00, 1000.00, 'PAID'),
  (2, 'ORD-2025-002', 7,  9600.00, 1728.00,    0.00, 'PAID'),
  (3, 'ORD-2025-003', 7,  7200.00, 1296.00,  500.00, 'PROCESSING'),
  (4, 'ORD-2025-004', 7,  5400.00,  972.00,    0.00, 'FAILED'),
  (5, 'ORD-2025-005', 7,  6000.00, 1080.00,  200.00, 'PENDING');

SELECT setval('orders_id_seq', (SELECT MAX(id) FROM orders));

-- ============================================================
-- 11. ORDER ITEMS (matches mock order items)
-- ============================================================

INSERT INTO order_items (order_id, product_id, variant_id, quantity, unit_price, billing_period)
VALUES
  (1, 1, 2,  1, 1700.00, 'MONTHLY'),   -- ORD-001: ERP Suite Professional
  (2, 2, 5,  1, 1200.00, 'MONTHLY'),   -- ORD-002: CRM Pro Business
  (3, 3, 7,  1,  900.00, 'MONTHLY'),   -- ORD-003: HR Management Premium
  (4, 4, 8,  1,  900.00, 'MONTHLY'),   -- ORD-004: Accounting Plus Standard
  (5, 6, 13, 2,  850.00, 'MONTHLY');   -- ORD-005: Marketing Hub Growth x2

-- ============================================================
-- 12. CART ITEMS (matches mock initialCartItems for Rajesh Kumar)
-- ============================================================

INSERT INTO cart_items (user_id, product_id, variant_id, quantity)
VALUES
  (7, 1, 2,  1),   -- ERP Suite Professional
  (7, 3, 7,  1),   -- HR Management Premium
  (7, 6, 12, 2);   -- Marketing Hub Essentials x2

-- ============================================================
-- 13. QUOTATIONS (matches mock quotations array)
-- ============================================================

   -- BuildRight Co (user_id 13)

SELECT setval('quotations_id_seq', (SELECT MAX(id) FROM quotations));

-- ============================================================
-- 14. QUOTATION ITEMS
-- ============================================================


-- ============================================================
-- 15. DISCOUNTS (matches mock discounts array)
-- ============================================================


-- ============================================================
-- 16. TAX RULES (matches mock taxRules array)
-- ============================================================


-- ============================================================
-- SEED DATA COMPLETE Γ£à
-- Database is ready for development & demo
-- ============================================================
